server:
  port: 8089
  error:
    path: /error

logging:
  level:
    root: ${LOGGING_LEVEL:TRACE}

spring:
  liquibase:
    enabled: false
  thymeleaf:
    cache: false
  web:
    resources:
      add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/logistic-company-db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

springframework:
  boot:
    autoconfigure:
      security:
        - category: INFO